In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('spam.csv')

In [3]:
df

      Unnamed: 0 spamORham                                            Message
0              0       ham  Go until jurong point, crazy.. Available only ...
1              1       ham                      Ok lar... Joking wif u oni...
2              2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3              3       ham  U dun say so early hor... U c already then say...
4              4       ham  Nah I don't think he goes to usf, he lives aro...
...          ...       ...                                                ...
5567        5567      spam  This is the 2nd time we have tried 2 contact u...
5568        5568       ham              Will Ì_ b going to esplanade fr home?
5569        5569       ham  Pity, * was in mood for that. So...any other s...
5570        5570       ham  The guy did some bitching but I acted like i'd...
5571        5571       ham                         Rofl. Its true to its name

[5572 rows x 3 columns]

In [4]:
df.shape

(5572, 3)

In [5]:
df.isnull().sum()

Unnamed: 0    0
spamORham     0
Message       0
dtype: int64

In [6]:
df.describe()

        Unnamed: 0
count  5572.000000
mean   2785.500000
std    1608.642181
min       0.000000
25%    1392.750000
50%    2785.500000
75%    4178.250000
max    5571.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5572 non-null   int64
 1   spamORham   5572 non-null   object
 2   Message     5572 non-null   object
dtypes: int64(1), object(2)
memory usage: 130.7+ KB

In [8]:
# drop unwanted columns
df.drop(columns = ['Unnamed: 0'],inplace = True)

In [9]:
df.head()

  spamORham                                            Message
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
# renaming the columns
df.rename(columns = {'spamORham':'target','Message':'text'}, inplace = True)

In [11]:
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
df.duplicated().sum()

np.int64(403)

In [13]:
df.drop_duplicates()

     target                                               text
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5169 rows x 2 columns]